﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site1.Master" AutoEventWireup="true" CodeBehind="MostrarLibrosPrestado.aspx.cs" Inherits="Biblioteca.Web.MostrarLibrosPrestado" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    

<asp:GridView ID="gvLibros" runat="server">
</asp:GridView>
 
    
</asp:Content>
