﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site1.Master" AutoEventWireup="true" CodeBehind="MostrarLibroSinPrestar.aspx.cs" Inherits="Biblioteca.Web.MostrarLibroSinPrestar" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <asp:GridView ID="gvwLibros" runat="server">
    </asp:GridView>
</asp:Content>
